.lbmt button.primary {
  color: red;
  font-size: 12px;
  background-color: yellow;
}

body.lbmt * {
  color: orange;
  font-size: 18px;
  padding: 20px;
}

.lbmt .card.primary {
  border: 1px solid greenyellow;
}